<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  
   {{!-- <div class="container"> --}}
    {{!-- <a href="/"><img src="/images/MiMA-gif.gif" class="logo"></a> --}}
    {{!-- <nav class="navbar"> --}}
          {{!-- <a href="/signup">Join</a> --}}
          {{!-- <a href="/login">Login</a> --}}
    {{!-- </nav> --}}
  {{!-- </div> --}}

<div class="section1">
  <div id="form">
  <h2>Login</h2>
 
  <form action="/login" method="POST">
 
    <label> Email
      <input type="email" name="email" placeholder="rockstar@ironhack.com" />
    </label>
 
    <label>Password
      <input type="password" name="password" placeholder="********" />
    </label>
 
    <button type="submit">Login</button>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
</div>

</body>
</html>