
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select an option</title>
</head>
<body>
    
<div class="container">
     <a href="/"><img src="/images/MiMA-gif.gif" class="logo"></a>
    <nav class="navbar">
          <a href="./events">Events</a>
          <a href="./venues">Venues</a>
    </nav>
  </div>

<div class="section1-select">
    <p class="create-qst">Would you like to create the profile of an available venue or create a new event?</p>
        <a class="create-btn" href="./venues/create">Create a profile</a>
        <a class="create-btn" href="./events/create">Create an event</a>
</div>


</body>
</html>