<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".../public/stylesheets/style.css">
    <title>Registration</title>
</head>
<body>

  <div class="container">
    <a href="/"><img src="/images/MiMA-gif.gif" class="logo"></a>
    <nav class="navbar">
          <a href="/signup">Join</a>
          <a href="/login">Login</a>
    </nav>
  </div>

  <div class="section1">
  <div id="form">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
 
    <label>
       Choose an option:
       <select id="role" name="role">
        <option id="selection" value="artist">Artist</option>
        <option id="selection" value="art-space">Art Space</option>
       </select> 
    </label>

    <label> Username
      <input type="text" name="username" placeholder="username" />
    </label>
 
    <label> Email
      <input type="email" name="email" placeholder="email@address.com" />
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>

    {{!-- <label> Repeat Password --}}
      {{!-- <input type="password" name="password" placeholder="********" /> --}}
    {{!-- </label> --}}
 
    <button type="submit">Create account</button>
 
  </form>
</div>
</div>
</body>
</html>