<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Add your venue</title>
</head>
<body>

<div class="container">
     <a href="/"><img src="/images/MiMA-gif.gif" class="logo"></a>
    <nav class="navbar">
          <a href="../events">Events</a>
          <a href="../venues">Venues</a>
    </nav>
  </div>

<div class="section1">
<h2>Add your venue</h2>
<div class="row">
  <div class="col-md-6">
    <form action="/venues/create" method="post" enctype="multipart/form-data"> 
      <div class="form-group">
        <label>Name:
          <input type="text" name="name" class="form-control" />
        </label>
      </div>

      <div class="form-group">
        <label>Address:
          <input type="text" name="address" class="form-control" />
        </label>
      </div>
 
      <div class="form-group">
        <label>Description:
          <textarea name="description" cols="30" rows="4" class="form-control"> </textarea>
        </label>
      </div>

      <div class="form-group">
        <label>Website:
          <input type="text" name="website" class="form-control" />
        </label>
      </div>

      <div class="form-group">
        <label>Preferred exhibition topics:
          <textarea name="topic" cols="30" rows="4" class="form-control"> </textarea>
        </label>
      </div>

      <div class="form-group">
        <label>Preferred mediums:
          <textarea name="medium" cols="30" rows="4" class="form-control"> </textarea>
        </label>
      </div>

      <div class="form-group">
        <label>I offer solo or group shows:
          <input type="text" name="offer" class="form-control" />
        </label>
      </div>
 
      <div class="form-group">
        <label>Image:
          <input type="file" name="venue-image" class="form-control-file" />
        </label>
      </div>
 
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
</div>

</body>
</html>